/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background: linear-gradient(180deg, #001b33 0%);
  font-family:Arial, sans-serif;
color:white;
}

h2 {
  margin-top: 16px;
}
