<section>

  <h1>Minha Loja de Jogos</h1>

  <!-- Produto selecionado -->
  <h2>
    Produto selecionado:

    @if (produtoSelecionado()) {
      <span>{{ produtoSelecionado() }}</span>
    } @else {
      <span style="color: gray">Nenhum</span>
    }
  </h2>


  <!-- Lista de produtos -->
  <div>

    <h2>Produtos</h2>

    @for (produto of produtos(); track produto.nome) {

      <div>

        <h3>{{ produto.nome }}</h3>

        <p>
          Preço: R$ {{ produto.preco.toFixed(2) }}
        </p>

        <button
          mat-raised-button
          color="primary"
          (click)="exibirProduto(produto.nome)">
          Ver produto
        </button>

        <button
          mat-stroked-button
          color="accent"
          (click)="adicionarAoCarrinho(produto)">
          Adicionar ao carrinho
        </button>

      </div>

    } @empty {

      <p>Nenhum produto encontrado.</p>

    }

  </div>


  <!-- Botões de teste -->
  <p>
    <button
      mat-raised-button
      color="primary"
      (click)="adicionarProduto()">
      Adicionar Produto
    </button>
  </p>

  <p>
    <button
      mat-stroked-button
      color="accent"
      (click)="substituirProdutos()">
      Substituir Lista
    </button>
  </p>


  <!-- Total dos produtos -->
  <h2>
    Total de produtos: {{ totalProdutos() }}
  </h2>

  <h3>
    Valor total: R$ {{ valorTotal().toFixed(2) }}
  </h3>

</section>


<!-- Seção do Carrinho -->

<section>

  <hr>

  <h2>Carrinho:</h2>

  @for (item of carrinho(); track $index) {

    <p>
      {{ item.nome }} -
      R$ {{ item.preco.toFixed(2) }}
    </p>

  } @empty {

    <p style="color: gray">
      Carrinho vazio.
    </p>

  }

  <p>
    <strong>Itens no carrinho:</strong>
    {{ quantidadeCarrinho() }}
  </p>

  <p>
    <strong>Total do Carrinho:</strong>
    R$ {{ totalCarrinho().toFixed(2) }}
  </p>

</section>