mat-toolbar {
  display: flex;
  flex-wrap: wrap;
   background: linear-gradient(180deg, #0d4c738e 0%);
  font-family:Arial, sans-serif;
color:white;

}

button {
  margin-left: 8px;
  background: linear-gradient(180deg, #ffffff8e 0%);
}

.flex-spacer {
  flex: 1 1 auto;
  
}
